html {
  background-color: #a0c49d;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 1rem;
}

#headerGrid {
  grid-column: 1/5;
  grid-row: 1/10;
  background-color: #c4d7b2;
  place-content: center;
  border-radius: 10px;
  border: #e1ecc8 2px solid;
}

#circlesGrid {
  grid-column: 1/4;
  grid-row: 10/60;
  background-color: #c4d7b2;
  overflow: hidden;
  border-radius: 10px;
  border: #e1ecc8 2px solid;
  place-content: center;
}

.shoppingBasket {
  grid-column: 4/5;
  font-family: "Prompt", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #475646;
}

#shopBaskHeaderGrid {
  grid-row: 10/15;
  background-color: #c4d7b2;
  place-content: center;
  border-radius: 10px;
  border: #e1ecc8 2px solid;
  letter-spacing: 3px;
  color: #475646;
}

#shopBaskHeader {
  text-align: center;
  font-size: larger;
}

#foodListGrid {
  grid-row: 15/45;
  background-color: #c4d7b2;
  border-radius: 10px;
  border: #e1ecc8 2px solid;
  padding: 10px;
}

#emptyBasketGrid {
  grid-column: 4/5;
  grid-row: 45/50;
  background-color: #c4d7b2;
  place-content: center;
  text-align: center;
  border-radius: 10px;
  border: #e1ecc8 2px solid;
}

#emptyBaskBtn {
  padding: 10px 20px;
  background-color: #f7ffe5;
  color: #667c64;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 16px;
  font-family: "Prompt", sans-serif;
}

#emptyBaskBtn:hover {
  background-color: #eba75f;
  border-radius: 10px;
}

#emptyBasket {
  text-align: center;
  font-size: larger;
}

#calculateGrid {
  grid-column: 4/5;
  grid-row: 50/60;
  background-color: #c4d7b2;
  place-content: center;
  text-align: center;
  border-radius: 10px;
  border: #e1ecc8 2px solid;
}

#calculateBtn {
  padding: 10px 20px;
  background-color: #f7ffe5;
  color: #667c64;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 20px;
  font-family: "Prompt", sans-serif;
  letter-spacing: 2px;
}

#calculateBtn:hover {
  background-color: #eba75f;
  border-radius: 10px;
}

#header {
  font-size: 45px;
  text-align: center;
  align-self: center;
  margin: 0;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

sub {
  vertical-align: -0.3em;
  font-size: smaller;
}

.circleClass {
  border: 2px solid #475646;
  background-color: #eba75f;
  color: #e1ecc8;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, +50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #c4d7b2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1000px;
}

.rectClass:hover {
  stroke: orange;
  stroke-width: 2px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  place-content: center;
}
/* Modal Content */
.modal-content {
  display: grid;
  grid-template: repeat(16, 1fr) / repeat(12, 1fr);
  grid-gap: 1em;
  position: relative;
  background-color: #feebe6;
  margin: auto;
  padding: 0;
  border-radius: 25px;
  border: 1px solid #888;
  height: 80%;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  padding: 1%;
  overflow: hidden;
}
/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 5px;
  right: 15px;
  color: rgb(246, 43, 43);
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.percentageVisualization {
  grid-column: 9/13;
}

#farmingPercentage {
  grid-row: 3/5;
}

#processingPercentage {
  grid-row: 5/7;
}

#packagingPercentage {
  grid-row: 7/9;
}
#transportPercentage {
  grid-row: 9/11;
}

#detailPercentage {
  grid-row: 11/13;
}

#ILUCPercentage {
  grid-row: 13/15;
}

.icon-space {
  grid-column: 8/9;
  font-size: 60px;
}

.fa-tractor {
  grid-row: 3/5;
}

.fa-gears {
  grid-row: 5/7;
}

.fa-box {
  grid-row: 7/9;
}

.fa-truck {
  grid-row: 9/11;
}

.fa-shop {
  grid-row: 11/13;
}

.fa-tree {
  grid-row: 13/15;
}

.bar {
  grid-column: 9/13;
  height: 20px;
  background-color: #e1821c;
  margin-top: 4px;
  border-radius: 5px;
  background: linear-gradient(to right, #ff8800, #ff0000);
  width: var(--bar-length, 100%);
}

#bar-0 {
  grid-row: 4/5;
}

#bar-1 {
  grid-row: 6/7;
}

#bar-2 {
  grid-row: 8/9;
}

#bar-3 {
  grid-row: 10/11;
}

#bar-4 {
  grid-row: 12/13;
}

#bar-5 {
  grid-row: 14/15;
}

.percentage-span {
  grid-column: 10/11;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  padding: 1%;
  font-family: "Chivo", sans-serif;
}

#percentage-span-0 {
  grid-row: 3/4;
}

#percentage-span-1 {
  grid-row: 5/6;
}

#percentage-span-2 {
  grid-row: 7/8;
}

#percentage-span-3 {
  grid-row: 9/10;
}

#percentage-span-4 {
  grid-row: 11/12;
}

#percentage-span-5 {
  grid-row: 7/8;
}

#colorSpectrumNew {
  grid-column: 1;
  grid-row: 5/15;
  width: 20px;
  height: 300px;
  background: linear-gradient(to bottom, #ff6d60 0%, #f7d060 50%, #91c483 100%);
  border-radius: 25px;
}

#CO2Circle {
  grid-column: 2/8;
  grid-row: 3/17;
  width: 400px;
  height: 400px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: black;
  font-size: 80px;
  font-family: "Chivo", sans-serif;
  text-align: center;
}

.close {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #F62B2B;
  font-size: 28px;
  font-weight: bold;
}
.bar {
  height: 20px;
  background-color: #E1821C;
  border-radius: 5px;
  background: linear-gradient(to right, #FF8800, #FF0000);
  transition: width 0.3s;
}
#header {
  font-size: 48px;
  text-align: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #475646;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative; /* Tilføjer relativ positionering */
}

#header::before {
  content: "🌍 "; /* Tilføjer et ikon for at indikere emnet */
  font-size: 32px; /* Ændrer ikonets størrelse */
  position: absolute;
  top: 70px; /* Flytter ikonet opad for at passe til overskriften */
  left: calc(50% - 16px); /* Justerer ikonet til midten af overskriften */
}

