.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

#titleGrid {
  grid-column: 1/5;
  grid-row: 1/10;
  background-color: aquamarine;
}
#circlesGrid {
  grid-column: 1/4;
  grid-row: 10/60;
  background-color: blue;
}

.shoppingBasket {
  grid-column: 4/5;
}

#shopBaskTitleGrid {
  grid-row: 10/15;
  background-color: blueviolet;
}

#foodListGrid {
  grid-row: 15/45;
  background-color: yellow;
}
#emptyBasketGrid {
  grid-column: 4/5;
  grid-row: 45/50;
  background-color: gray;
}
#calculateGrid {
  grid-column: 4/5;
  grid-row: 50/60;
  background-color: green;
}

#emptyBaskBtn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#emptyBaskBtn:hover {
  background-color: #0056b3;
}
