html {
  background-color: #a0c49d;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 1rem;
}

#headerGrid {
  grid-column: 1/5;
  grid-row: 1/10;
  background-color: #c4d7b2;
  place-content: center;
  border-radius: 10px;
  border: #e1ecc8 2px solid;
}

#circlesGrid {
  grid-column: 1/4;
  grid-row: 10/60;
  background-color: #c4d7b2;
  overflow: hidden;
  border-radius: 10px;
  border: #e1ecc8 2px solid;
}

.shoppingBasket {
  grid-column: 4/5;
  font-family: "Prompt", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #475646;
}

#shopBaskHeaderGrid {
  grid-row: 10/15;
  background-color: #c4d7b2;
  place-content: center;
  border-radius: 10px;
  border: #e1ecc8 2px solid;
  letter-spacing: 3px;
  color: #475646;
}

#shopBaskHeader {
  text-align: center;
  font-size: larger;
}

#foodListGrid {
  grid-row: 15/45;
  background-color: #c4d7b2;
  border-radius: 10px;
  border: #e1ecc8 2px solid;
  padding: 10px;
}

#emptyBasketGrid {
  grid-column: 4/5;
  grid-row: 45/50;
  background-color: #c4d7b2;
  place-content: center;
  text-align: center;
  border-radius: 10px;
  border: #e1ecc8 2px solid;
}

#emptyBaskBtn {
  padding: 10px 20px;
  background-color: #f7ffe5;
  color: #667c64;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 16px;
  font-family: "Prompt", sans-serif;
}

#emptyBaskBtn:hover {
  background-color: #eba75f;
  border-radius: 10px;
}

#emptyBasket {
  text-align: center;
  font-size: larger;
}

#calculateGrid {
  grid-column: 4/5;
  grid-row: 50/60;
  background-color: #c4d7b2;
  place-content: center;
  text-align: center;
  border-radius: 10px;
  border: #e1ecc8 2px solid;
}

#calculateBtn {
  padding: 10px 20px;
  background-color: #f7ffe5;
  color: #667c64;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 20px;
  font-family: "Prompt", sans-serif;
  letter-spacing: 2px;
}

#calculateBtn:hover {
  background-color: #eba75f;
  border-radius: 10px;
}

#header {
  font-size: 45px;
  text-align: center;
  align-self: center;
  margin: 0;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

sub {
  vertical-align: -0.3em;
  font-size: smaller;
}

.circleClass {
  border: 2px solid #475646;
  background-color: #eba75f;
  color: #e1ecc8;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, +50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #c4d7b2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1000px;
}

.circleClass:hover {
  stroke: orange;
  stroke-width: 2px;
}

/* Tilføjet for at style den ydre cirkel */
.outerCircle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: transparent;
  margin: auto;
}

/* Tilføjet for at style den indre cirkel */
.innerCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #c4d7b2;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  place-content: center;
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #f8ffea;
  margin: auto;
  padding: 0;
  border-radius: 25px;
  border: 1px solid #888;
  height: 80%;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  padding: 50px;
}
/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 5px;
  right: 15px;
  color: rgb(246, 43, 43);
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.percentageVisualization {
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  color: #000;
  padding: 5px;
  font-family: "Chivo", sans-serif;
  font-optical-sizing: auto;
  margin-right: 10px;
  margin-left: 60%;
}

.icon-space {
  margin-right: 30px;
}
#CO2Circle {
  position: absolute;
  top: 30%;
  left: 10%; /* Justér venstre margin efter behov */
  transform: translateY(-50%);
}
#colorSpectrum {
  position: absolute;
  width: 300px; /* Juster bredden efter behov */
  height: 20px;
  left: 7%; /* Juster venstre placering efter behov */
  bottom: 400px; /* Placer farvespektrummet under cirklen */
  background: linear-gradient(to right, hsl(0, 100%, 50%) 0%, yellow 50%, green 100%);
  border-radius: 10px;
}
<<<<<<< HEAD


=======
#colorSpectrumContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:-250px;
  padding: 0 20px; /* Tilføj polstring til at adskille tallene */
  display: inline-block; /* Gør elementerne til blok-elementer, så margin-left virker */

}

.color-value {
  text-align: center;
  margin-left: 200px; /* Justér afstanden mellem tallene */
  font-weight: bold; /* Gør tallene tykkere */
  font-size: larger; /* Gør tallene større */

}
.color-value {
  font-weight: bold;
  font-size: larger;
}
.bar {
  height: 20px;
  background-color: #72a76d;
  margin: 5px 0;
  border-radius: 5px;
}

.percentage-span {
  float: right;
}
>>>>>>> main

